<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="uy.edu.cei.taller.dao.UserMapper">

	<select id="all"
		resultType="uy.edu.cei.taller.bean.UserBean">
		SELECT * FROM Usuarios
	</select>

</mapper>